<a href="https://colab.research.google.com/github/cc5547/Python/blob/main/submission/cc5547/2023_03_07_CH02_04_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 서식

## f-string

In [ ]:
"빅데이터 엔지니어링 과정에서는 " + "파이썬" + "을 배웁니다"

'빅데이터 엔지니어링 과정에서는 파이썬을 배웁니다'

In [ ]:
def announce(keyword):
    return "빅데이터 엔지니어링 과정에서는 " + keyword + "을 배웁니다"

In [ ]:
announce("Java")

'빅데이터 엔지니어링 과정에서는 Java을 배웁니다'

In [ ]:
announce("Python")

'빅데이터 엔지니어링 과정에서는 Python을 배웁니다'

In [ ]:
def announce2(a, b, c, d):
    return a + "에서는 " + b + "와 " + c + "와 " + d + "를 배웁니다"

In [ ]:
announce2("빅데이터 엔지니어링", "자바", "파이썬", "리눅스")

'빅데이터 엔지니어링에서는 자바와 파이썬와 리눅스를 배웁니다'

In [ ]:
def announce3(name, count, subject1, subject2):
    return name + " " + str(count) + "기에서는 " + subject1 + "과 "+ subject2 + "를 배웁니다"

In [ ]:
announce3("빅데이터", 23, "자바", "스파크")

'빅데이터 23기에서는 자바과 스파크를 배웁니다'

In [ ]:
def announce_f(name, count, subject1, subject2):
    return f"{name} {count}기에서는 {subject1}, {subject2}를 배웁니다"
    # f'...', f"...", f'''...''', f"""..."""

In [ ]:
announce_f("빅데이터", 23, "자바", "스파크")

'빅데이터 23기에서는 자바, 스파크를 배웁니다'

In [ ]:
a = 76 # 취업자 수
b = 97 # 전체 수강생 수

f"전체 취업자 수 : {a:04d}명 / 전체 수강생 수 {b:04d}명 / {(a / b):06.2f}"

'전체 취업자 수 : 0076명 / 전체 수강생 수 0097명 / 000.78'

## format 메소드

In [ ]:
introduction = "이름 : {}, 나이 : {}세".format("김동동", 20)
introduction

'이름 : 김동동, 나이 : 20세'

In [ ]:
# introduction2 = "이름 : {name}, 나이 : {age}세".format(name="김동동", age=20)
introduction2 = "이름 : {name}, 나이 : {age}세".format(age=20, name="김동동")
introduction2

'이름 : 김동동, 나이 : 20세'

In [ ]:
def hello():
    return "안녕 나는 김동동이야"

In [ ]:
hello()

'안녕 나는 김동동이야'

In [ ]:
def hello2(name):
    return f"안녕 나는 {name}이야"

hello2("김동동")

'안녕 나는 김동동이야'

In [ ]:
def hello3(sentence, name):
    # return "안녕 나는 {}이야".format(name)
    return sentence.format(name)

hello3("여러분 좋은 아침! 내 이름을 묻는다면 나는 {}!", "왈도")

'여러분 좋은 아침! 내 이름을 묻는다면 나는 왈도!'

In [ ]:
def hello4(callback, *args):
    return list(map(callback, args))

hello4("{}님 출석하셨습니다".format, "김장장", "공장장", "박술술")

['김장장님 출석하셨습니다', '공장장님 출석하셨습니다', '박술술님 출석하셨습니다']

In [ ]:
hello4(lambda x: x+"님", "김장장", "공장장", "박술술")

['김장장님', '공장장님', '박술술님']

# 딕셔너리 응용

In [ ]:
x = { "a" : 10, "b": 20, "c": 30, "d": 40}
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
x['a'] = 15
x

{'a': 15, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
x['e']

KeyError: ignored

In [ ]:
x.get('e') # None -> 에러가 나지 X

In [ ]:
x.get('e', -1) # 기본값을 지정 -> 없을 때 기본값

-1

In [ ]:
x.get('a')

15

In [ ]:
x.update(a=20)
x

{'a': 20, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
x.update(e=200) # 변수형태로 표현될 수 없는 값들 (숫자 -> update로 사용해줄 수 없음)
x

{'a': 20, 'b': 20, 'c': 30, 'd': 40, 'e': 200}

In [ ]:
x.update(1=20)
x

SyntaxError: ignored

In [ ]:
x.update({
    'a': 10,
    'b': 40,
    1: 200,
})
x

{'a': 10, 'b': 40, 'c': 30, 'd': 40, 'e': 200, 1: 200}

In [ ]:
x.pop('a'), x

(10, {'b': 40, 'c': 30, 'd': 40, 'e': 200, 1: 200})

In [ ]:
x.pop() # 딕셔너리는 내부에 순서 X

TypeError: ignored

In [ ]:
x.pop('f')

KeyError: ignored

In [ ]:
x.pop('f', 0)

0

In [ ]:
print(x)
x.clear()
print(x)

{'b': 40, 'c': 30, 'd': 40, 'e': 200, 1: 200}
{}

In [ ]:
x = { "a" : 10, "b": 20, "c": 30, "d": 40}
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
# for i in x:
#     print(i) # 키
#     print(x[i]) # 값
for i in x.keys():
    print(i) # 키
    print(x[i]) # 값

a
10
b
20
c
30
d
40

In [ ]:
for i in x.items():
    # (키, 값) 쌍으로 전달 받게 됨
    print(i)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [ ]:
for k, v in x.items():
    print(f"key : {k}")
    print(f"value : {v}")

key : a
value : 10
key : b
value : 20
key : c
value : 30
key : d
value : 40

In [ ]:
for v in x.values():
    print(f"value : {v}")

value : 10
value : 20
value : 30
value : 40

In [ ]:
lesson = {
    "과목" : {
        "자바": {
            "버전" : 1.8
        },
        "파이썬": {
            "버전" : 3.9
        },
        "자바스크립트": {
            "버전" : "es6"
        }
    }
}

lesson

{'과목': {'자바': {'버전': 1.8}, '파이썬': {'버전': 3.9}, '자바스크립트': {'버전': 'es6'}}}

In [ ]:
lesson['과목']['파이썬']['버전']

3.9

In [ ]:
lesson['과목']['파이썬']['버전'] = '3.10'

In [ ]:
lesson['과목']['파이썬']['버전']

'3.10'